spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/mydatabase
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: postgres

  sql:
    init:
      mode: always

  batch:
    jdbc:
        initialize-schema: always
    job:
        enabled: true
        name: deleteUserInfoJob

logging:
    level:
        org.springframework.batch: INFO