spring:
  datasource:
    url: jdbc:h2:mem:batchdb;MODE=PostgreSQL;DATABASE_TO_LOWER=TRUE
    driver-class-name: org.h2.Driver
    username: sa
    password:

  batch:
    jdbc:
        initialize-schema: always
    job:
        enabled: true

logging:
    level:
        org.springframework.batch: INFO